

<div class= "container">
  <h1>Stupid Coaching</h1>
  <div id="answer">
    <%= @answer %>
  </div>
  <br>
  <div id="coachanswer">
  <%= @coachanswer %>
  </div>
  <br>
  <%= link_to "Click here to ask another question", '/ask/' %>
</div>
