// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}


.container {
  margin-left: 50px;
}

#answer {
  border-left-style: solid;
  border-width: 2px;
  padding: 20px;
}

#coachanswer {
  border-left-style: solid;
  border-width: 2px;
  padding: 20px;
  background-color: yellow;
}
